<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Clave para tal cosa...-->
    <add key="FileLogPath" value="/Logs/bitacora.log"/>
    <add key="BackendType" value="1"/>
    <add key="TranslatePath" value="I18N/Language."/>
    <add key="FolderLogs" value="D:\Logs"/>
    <add key="PathLogError" value="error.log"/>
    <add key="PathInfoError" value="info.log"/>
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DemoPP;Integrated Security=True;Encrypt=False"/>
    <add name="ServicesSqlConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DemoSecurityPP;Integrated Security=True;Encrypt=False"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>